[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = forgamesonly684@gmail.com
	name = Vaishnav-Sabari-Girish
[init]
	defaultBranch = main
