[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = forgamesonly684@gmail.com
	name = Vaishnav Sabari Girish
	signkey = 0AFB94F820A38489
	signingkey = 0AFB94F820A38489
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[commit]
	gpgsign = true
[gpg]
	program = gpg
