~/.zsh_secrets
usage_data.json
.cargo/git/
checkouts/
history.txt
.gitconfig
.mailsynclastrun
auto-save-list/
eln-cache/
elpa/
obs-websocket

# MPD runtime / state files
mpd/.config/mpd/database
mpd/.config/mpd/log
mpd/.config/mpd/state
mpd/.config/mpd/sticker.sql
mpd/.config/mpd/pid
mpd/.config/mpd/*.db
mpd/.config/mpd/*.sql
mpd/.config/mpd/*.log
